@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared styles */
.display-felx {
    display: flex;
}

.primary-btn {
    color: white;
    background-color: #FF900E;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 50px;
    padding: 20px 25px;
}

.main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;

}

.team-title {
    font-size: 3rem;
    font-weight: 600;
}


/* color dark 02 */
.text-gray {
    color: #424242;
}

/* color dark 03 */
.text-light-gary {
    color: #727272;
}

/* Header styles */

/* navber styles */
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.navber {
    justify-content: space-between;
    align-items: center;
}

.banner {
    font-weight: 700;
    font-size: 2.8rem;

}

.nav-items {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;

}


/* banner related style */
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-container {
    margin: 0 auto;
    text-align: center;
    max-width: 850px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-size: small;
    font-weight: 400;
}

.banner-image {
    width: 100%;
}

/* Team Related Styles */
.teams-container {
    align-items: center;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 80px;
    max-width: 540px;
}


.quick-list {
    color: #727272;
    font-weight: 600;
}

.features {
    color: #FF900E;
}

.team-description {
    font-size: 1.25rem;
    color: #727272;
}

/* .our-featuresrelated styles */
#feature-title {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    font-size: 2.8rem;
}

/* Feature Card Related Style*/
.our-features {
    gap: 100px;
}

.feature-card {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    width: 480px;
}

.feature-card .feature-card-title {
    font-size: 1.25rem;
    font-weight: 600;


}

.feature-card-title {
    margin-top: 0;
    margin-bottom: 10px;
}

#expreaince-badg {
    padding: 45px 42px;
    font-size: 1.25rem;
    font-weight: 500px;
    margin-left: -100px;
    margin-top: -72px;
}

/* #experience-years{
    font-size: 4rem;
    font-weight: 700px;
} */
/* #experience-years{
    font-weight: 700px;
    font-size: 3.9rem;
 } */

/* Some Facts Related Style */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;


}


.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    width: 260px;
}

.fact-description {
    max-width: 540px;
}

.fact-card {
    border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #424242;
}

.fact-name {
    font-size: 1.4rem;
    font-weight: 600px;
    color: #727272;
    margin-top: 10px;
}

/* Sponsor related style */
.sponsor-content {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;

}

.sponsor-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.sponsor-logo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-logo img {
    filter: grayscale(100%);
}

/* Responsive Media Query */
@media screen and (max-width:576px) {
    .display-felx {

        flex-direction: column;

    }

    .team-image-container,
    .facts-container,
    .our-features,
    .sponsor-logo {
        grid-template-columns: repeat(1, 1fr);

    }

    .facts-container {
        justify-items: center;
    }

    .fact-container {
        text-align: center;
    }

    .our-features,
    .fact-container {
        margin-left: 30px;
        text-align: center;

    }

    #feature-image img {
        width: 100%;
    }

    #experience-years {
        margin-top: 20px;
        margin-left: 20px;
    }

    .sponsor-logo {
        gap: 50px;
        justify-items: center;
    }
}

.footer-container {
    max-width: 1440px;
    height: 100px;
    border-radius: 8px;
    margin: 100px;
    
    
}

.footer {
    background-color: #FFF4E7;
    justify-content: center;
    text-align: center;
    padding: 40px ;

}

/* Medium Display  */
@media screen and (min-width:576px) and (max-width: 992px) {

    main .teams-container,
    .feature-card {

        flex-direction: column;

    }

    .team-image-container,
    .facts-container,
    .sponsor-logo {
        grid-template-columns: repeat(2, 1fr);

    }

    .our-features {
        margin: 50px auto;


    }

    .facts-container {
        justify-items: center;
    }

    .fact-container {
        text-align: center;
    }

    .sponsor-logo {
        gap: 50px;
        justify-items: center;
    }

    #experience-years {
        margin-top: 20px;
        margin-left: 20px;
    }
}